
* {
    font-family: Courier;
}

.head{
   text-align: center;
    color: chocolate;

}

#gif {

}

#container {
    position: relative;

}

.pokemon{
    padding: 2px 10px 2px 2px;
}

.fav{
    width: 20%;
    border: 3px;
    background: white;
    margin-bottom: 10px;
}
.card{
    margin-top: 25px;
    display: inline-block;
    padding: 20px;
    border:groove;
    border-radius: 2rem;
}

h5 {
    justify-content: center;
}

.card, .card-body, .list-group {
    border: 2px solid #98D9F5;
    box-shadow: 1px 1px 15px #98D9F5;
    background: papayawhip;
    /*color: rgb(197,198,200);*/

}


