
* {
    font-family: Courier;
}

.head {
    text-align: center;
    color: chocolate;
}

.container-fluid {
    background-color: cornflowerblue;
}

.fav {
    width: 20%;
    border: 3px;
    background: white;
    margin-bottom: 10px;
}

.card {
    margin-top: 25px;
    display: inline-block;
    padding: 20px ;
    border-radius: 2rem;
}

h5 {
    justify-content: center;
}

.card, .card-body, .list-group {
    border: 2px solid #98D9F5;
}

